<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Form</title>
</head>
<body>
    <h1>Documento Data-Form EJS renderizado!</h1>

    <p>Formulário enviado com sucesso!</p>
    <p>Nome: <%= name %></p>
    <p>Email: <%= email %></p>
</body>
</html>