<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>

<body>
    <section class="section">
        <h1>EJS Template</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat modi aperiam animi ratione, nemo delectus
            sapiente dicta dolore vitae veniam labore repudiandae, expedita enim facere architecto at similique quia ut?
        </p>

    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>