:root {
    --magenta-escuro: #8b008b;
    --neve: #fffafa;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--magenta-escuro);
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.section {
    max-width: 560px;
    margin: 50px auto;
    background-color: var(--neve);
    border-radius: 20px;
    padding: 20px;
}

.section .display {
    display: block;
    width: 100%;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.section .form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.section .form .generate {
    display: block;
    width: 100%;
    border: none;
    background: var(--magenta-escuro);
    color: var(--neve);
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.section .form .generate:hover {
    opacity: 80%;
}